<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>halotestappclient</string>
	<key>CLIENT_SECRET</key>
	<string>halotestapppass</string>
	<key>ENABLE_PUSH</key>
	<true/>
	<key>CLIENT_ID_DEV</key>
	<string>HaloDev/3/client</string>
	<key>CLIENT_SECRET_DEV</key>
	<string>039e77d9f2c2229246a9bc9ed13758ed</string>
</dict>
</plist>
